@use "styles/fonts";
@use "styles/icons";
@use "styles/root";
@use "styles/custom";
@use "styles/variables";
@use "styles/button";
@use "styles/inputs";
@use "styles/tables";

html,
body {
  width: 100%;
  height: 100%;

  & {
    scrollbar-color: #5664794c transparent;
  }
}

html {
  background-color: var(--color-background-level-1);

  &.dark,
  &.sync {
    background-color: var(--color-background-level-1);
  }
}
