@use "styles/fonts";
@use "styles/icons";
@use "styles/root";
@use "styles/custom";
@use "styles/variables";
@use "styles/button";
@use "styles/inputs";
@use "styles/tables";

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;

  & {
    scrollbar-color: #5664794c transparent;
  }
}

html {
  @apply bg-neutral-bg-1;

  &.dark,
  &.sync {
    @apply bg-neutral-bg-1;
  }
  // &.sync {
  //   @media (prefers-color-scheme: dark) {
  //     @apply bg-neutral-bg-1;
  //   }
  // }
}
