.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  box-shadow: 0px 4px 6px -1px var(--color-shadow-default), 0px 2px 4px -2px var(--color-shadow-default);
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);

  &:disabled {
    border-style: none;
    background-color: var(--color-disabled);
    color: var(--color-typography-disabled);
    box-shadow: 0 0 #0000;
    &:hover {
      background-color: var(--color-disabled);
    }
  }

  &:focus-visible {
    outline-style: solid;
    outline-offset: 1px;
    outline-color: var(--color-primary-hover);
  }
  &:active {
    outline: 2px solid transparent;
    outline-offset: 2px;
  }

  &-primary {
    background-color: var(--color-primary-default);
    color: var(--color-static-light);
    &:hover { background-color: var(--color-primary-hover); }
    &:active { background-color: var(--color-primary-active); }
    &.active { background-color: var(--color-primary-active); }
  }

  &-secondary {
    border: 1px solid var(--color-border-default);
    background-color: var(--color-secondary-default);
    color: var(--color-typography-default);
    &:hover { background-color: var(--color-secondary-hover); }
    &:active {
      border-color: var(--color-border-emphasized);
      background-color: var(--color-secondary-active);
    }
    &.active {
      border-color: var(--color-border-emphasized);
      background-color: var(--color-secondary-active);
    }
  }

  &-tertiary {
    border: 1px solid transparent;
    color: var(--color-typography-default);
    box-shadow: 0 0 #0000;
    &:hover {
      border-color: var(--color-border-default);
      background-color: var(--color-secondary-hover);
      box-shadow: 0px 4px 6px -1px var(--color-shadow-default), 0px 2px 4px -2px var(--color-shadow-default);
    }
    &:active { background-color: var(--color-secondary-active); }
    &.active { background-color: var(--color-secondary-active); }
  }

  &-danger {
    border: 1px solid var(--color-border-error);
    background-color: var(--color-danger-default);
    color: var(--color-typography-error);
    &:hover { background-color: var(--color-danger-hover); }
    &:active { background-color: var(--color-danger-active); }
    &.active { background-color: var(--color-danger-active); }
  }

  &-loading {
    pointer-events: none !important;
    border-style: none !important;
    background-color: var(--color-disabled) !important;
    color: var(--color-disabled) !important;
    --tw-shadow-color: transparent !important;
    --tw-shadow: transparent !important;
    box-shadow: none !important;
  }

  &-badge {
    background-color: var(--color-background-level-3) !important;
    font-weight: 300 !important;
    color: var(--color-typography-default) !important;
    --tw-shadow-color: transparent !important;
    --tw-shadow: transparent !important;
    box-shadow: none !important;

    &:hover,
    &:active {
      background-color: var(--color-background-level-4) !important;
    }
  }
}
