.button {
  @apply flex items-center justify-center gap-1 shadow-medium transition duration-150 ease-out;
  @apply disabled:border-none disabled:bg-disabled disabled:text-typography-disabled disabled:shadow-transparent disabled:hover:bg-disabled;
  @apply focus-visible:outline focus-visible:outline-offset-1 focus-visible:outline-primary-hover active:outline-none;

  &-primary {
    @apply bg-primary-default text-static-light;
    @apply hover:bg-primary-hover;
    @apply active:bg-primary-active;
  }

  &-secondary {
    @apply border-[1px] border-border-default bg-secondary-default text-typography-default;
    @apply hover:bg-secondary-hover;
    @apply active:border-border-emphasized active:bg-secondary-active;
  }

  &-tertiary {
    @apply border-[1px] border-transparent text-typography-default shadow-transparent;
    @apply hover:border-border-default hover:bg-secondary-hover hover:shadow-medium;
    @apply active:bg-secondary-active;
  }

  &-danger {
    @apply border-[1px] border-border-error bg-danger-default text-typography-error;
    @apply hover:bg-danger-hover;
    @apply active:bg-danger-active;
  }

  &-loading {
    @apply pointer-events-none border-none bg-disabled text-disabled shadow-transparent #{!important};
  }

  &-badge {
    @apply bg-neutral-bg-3 font-light text-typography-default shadow-transparent hover:bg-neutral-bg-4 active:bg-neutral-bg-4 #{!important};
  }
}

// :root[class~="sync"] {
//   @media (prefers-color-scheme: dark) {
//     .button {
//     }
//   }
// }
