.button {
  @apply flex items-center justify-center gap-1 shadow-medium transition duration-150 ease-out;
  @apply disabled:border-none disabled:bg-disabled disabled:text-typography-disabled disabled:shadow-transparent disabled:hover:bg-disabled;
  @apply focus-visible:outline focus-visible:outline-offset-1 focus-visible:outline-primary-hover active:outline-hidden;

  &-primary {
    @apply bg-primary-default text-static-light;
    @apply hover:bg-primary-hover;
    @apply active:bg-primary-active;
    &.active {
      @apply bg-primary-active;
    }
  }

  &-secondary {
    @apply border-[1px] border-border-default bg-secondary-default text-typography-default;
    @apply hover:bg-secondary-hover;
    @apply active:border-border-emphasized active:bg-secondary-active;
    &.active {
      @apply border-border-emphasized bg-secondary-active;
    }
  }

  &-tertiary {
    @apply border-[1px] border-transparent text-typography-default shadow-transparent;
    @apply hover:border-border-default hover:bg-secondary-hover hover:shadow-medium;
    @apply active:bg-secondary-active;
    &.active {
      @apply bg-secondary-active;
    }
  }

  &-danger {
    @apply border-[1px] border-border-error bg-danger-default text-typography-error;
    @apply hover:bg-danger-hover;
    @apply active:bg-danger-active;
    &.active {
      @apply bg-danger-active;
    }
  }

  &-loading {
    pointer-events: none !important;
    border-style: none !important;
    background-color: var(--color-disabled) !important;
    color: var(--color-disabled) !important;
    --tw-shadow-color: transparent !important;
    --tw-shadow: transparent !important;
    box-shadow: none !important;
  }

  &-badge {
    background-color: var(--color-background-level-3) !important;
    font-weight: 300 !important;
    color: var(--color-typography-default) !important;
    --tw-shadow-color: transparent !important;
    --tw-shadow: transparent !important;
    box-shadow: none !important;

    &:hover,
    &:active {
      background-color: var(--color-background-level-4) !important;
    }
  }
}
