.nls- {
  &focus {
    &:focus-visible {
      outline-style: solid;
      outline-offset: 1px;
      outline-color: var(--color-primary-hover);
    }
    &:active {
      outline: 2px solid transparent;
      outline-offset: 2px;
    }
  }
}

label {
  cursor: pointer;
}

.scroll-bar {
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #ebeff5;
    opacity: 0.2;
    border-radius: 4px;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background-color: gray;
    border: solid 1px #ebeff5;
    border-radius: 4px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background-color: gray;
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOutAnimation {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
