.nls- {
  &focus {
    @apply focus-visible:outline focus-visible:outline-offset-1 focus-visible:outline-primary-hover active:outline-hidden;
  }
}

label {
  @apply cursor-pointer;
}

.scroll-bar {
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #ebeff5;
    opacity: 0.2;
    border-radius: 4px;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background-color: gray;
    border: solid 1px #ebeff5;
    border-radius: 4px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background-color: gray;
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOutAnimation {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
