@font-face {
    font-family: 'Garet Variable';
    src: url('@/assets/fonts/garetvariable-latin-subset.woff2') format('woff2'),
         url('@/assets/fonts/garetvariable-latin-subset.woff') format('woff');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
  font-family: "Garet";
  src:
    url("@/assets/fonts/garet-regular-webfont.woff2") format("woff2"),
    url("@/assets/fonts/garet-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Garet";
  src:
    url("@/assets/fonts/garet-regularitalic-webfont.woff2") format("woff2"),
    url("@/assets/fonts/garet-regularitalic-webfont.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Garet";
  src:
    url("@/assets/fonts/garet-medium-webfont.woff2") format("woff2"),
    url("@/assets/fonts/garet-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Garet";
  src:
    url("@/assets/fonts/garet-bold-webfont.woff2") format("woff2"),
    url("@/assets/fonts/garet-bold-webfont.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
body, html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}