.field {
  &-wrapper {
    @apply relative flex flex-col text-14 font-medium;
  }

  &-label {
    @apply w-max cursor-pointer text-14 font-normal text-typography-default;
  }

  &-input,
  &-dropdown {
    @apply flex h-10 items-center rounded-md border-[1px] border-border-dominant bg-neutral-bg-2 text-16 font-normal text-typography-default shadow-small;
    @apply focus:border-[2px] focus:border-border-focus focus:outline-hidden;
  }

  &-input {
    &.password {
      @apply text-32;
    }
  }
}

.field-currency {
  @apply rounded-md border-[1px] border-border-color bg-neutral-bg-50 px-3 py-4 pl-4 pr-3 text-neutral-typography-200 outline-hidden transition hover:border-border-hover-color focus:border-primary-50 disabled:bg-neutral-bg-100 disabled:text-neutral-typography-50 disabled:hover:border-border-color dark:disabled:bg-neutral-bg-50;
  &:focus-within {
    border-color: var(--color-primary-50) !important;
  }

  &-wrapper {
    @apply flex flex-col gap-1;
  }

  &-label {
    @apply w-max cursor-pointer flex gap-1 text-14 font-normal text-typography-default;

    span {
      @apply text-[20px];
    }
  }

  &-balance {
    @apply cursor-pointer text-12 font-medium text-neutral-400;
  }

  &-error {
    @apply text-12 font-medium text-danger-100;
  }
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
