.field {
  &-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
  }

  &-label {
    width: max-content;
    cursor: pointer;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: var(--color-typography-default);
  }

  &-input,
  &-dropdown {
    display: flex;
    height: 2.5rem;
    align-items: center;
    border-radius: 0.375rem;
    border: 1px solid var(--color-border-dominant);
    background-color: var(--color-neutral-bg-2);
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: var(--color-typography-default);
    box-shadow: 0px 1px 2px 0px var(--color-shadow-default);

    &:focus {
      border-width: 2px;
      border-color: var(--color-border-focus);
      outline: 2px solid transparent;
      outline-offset: 2px;
    }
  }

  &-input {
    &.password {
      font-size: 32px;
      line-height: 46px;
    }
  }
}

.field-currency {
  border-radius: 0.375rem;
  border: 1px solid var(--border-color);
  background-color: var(--color-background-50);
  padding: 1rem 0.75rem 1rem 1rem;
  color: var(--color-typography-200);
  outline: 2px solid transparent;
  outline-offset: 2px;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover { border-color: var(--border-color-emphasized); }
  &:focus { border-color: var(--color-primary-50); }
  &:disabled {
    background-color: var(--color-background-100);
    color: var(--color-typography-50);
    &:hover { border-color: var(--border-color); }
  }

  &:focus-within {
    border-color: var(--color-primary-50) !important;
  }

  &-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }

  &-label {
    width: max-content;
    cursor: pointer;
    display: flex;
    gap: 0.25rem;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: var(--color-typography-default);

    span {
      font-size: 20px;
    }
  }

  &-balance {
    cursor: pointer;
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
    color: #8396b1;
  }

  &-error {
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
    color: var(--color-danger-100);
  }
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
