@layer base {
  :root {
    --color-background-50: #ffffff;
    --color-background-100: #ebeff5;
    --color-background-200: #c1cad7;
    --color-background-300: linear-gradient(314deg, #ebeff5 2.19%, #f0f4f7 100%);

    --color-typography-50: #8396b1;
    --color-typography-100: #5e7699;
    --color-typography-200: #082d63;

    --color-primary-50: #2868e1;
    --color-primary-100: #245dc7;
    --color-primary-200: #1f51ad;
    --color-primary-300: #2868e1;

    --color-danger-50: #e4292926;
    --color-danger-100: #e42929;

    --color-success-50: #50e3a526;
    --color-success-100: #1ab171;

    --color-warning-50: #ffd78266;
    --color-warning-100: #ffb922;

    --color-brand-accent: #ff562e;

    --border-color: #d6dce4;
    --border-hover-color: #8396b1;

    --spinner-color: #2868e1;
    --spinner-border-color: #c1cad7;
    --color-progress: #ebeff5;

    --color-hover: #f7f9fc;

    --media-query-sm: 576px;
    --media-query-md: 768px;
    --media-query-lg: 1024px;
    --media-query-xl: 1200px;
    --media-query-xxl: 1400px;

    --swap-confirmation-color: #f7f9fc;
    --swap-header-inactive-color: #f7f9fc;
    --swap-header-stroke: #d6dce4;
  }

  :root[class~="sync"] {
    @media (prefers-color-scheme: dark) {
      --color-background-50: #142237;
      --color-background-100: #2b384b;
      --color-background-200: #07162c;
      --color-primary-300: #ffffff;

      --color-typography-200: #ffffff;

      --border-color: #2b384b;

      --spinner-color: #2868e1;
      --spinner-border-color: #2b384b;
      --color-progress: #2b384b;

      --color-hover: #142237;

      --swap-confirmation-color: #2b384b;
      --swap-header-inactive-color: #07162c;
      --swap-header-stroke: #2b384b;
    }
  }

  :root[class~="dark"] {
    --color-background-50: #142237;
    --color-background-100: #2b384b;
    --color-background-200: #07162c;
    --color-primary-300: #ffffff;

    --color-typography-200: #ffffff;

    --border-color: #2b384b;

    --spinner-color: #2868e1;
    --spinner-border-color: #2b384b;
    --color-progress: #2b384b;

    --color-hover: #142237;

    --swap-confirmation-color: #2b384b;
    --swap-header-inactive-color: #07162c;
    --swap-header-stroke: #2b384b;
  }
}
