@layer base {
  :root {
    --color-background-50: #FFFFFF;
    --color-background-100: #EBEFF5;
    --color-background-200: #C1CAD7;
    --color-background-300: linear-gradient(314deg, #EBEFF5 2.19%, #F0F4F7 100%);

    --color-typography-50: #8396B1;
    --color-typography-100: #5E7699;
    --color-typography-200: #082D63;

    --color-primary-50: #2868E1;
    --color-primary-100: #245DC7;
    --color-primary-200: #1F51AD;

    --color-danger-50: #E4292926;
    --color-danger-100: #E42929;

    --color-success-50: #50E3A526;
    --color-success-100: #1AB171;

    --color-warning-50: #FFD78266;
    --color-warning-100: #FFB922;

    --color-brand-accent: #FF562E;

    --border-color: #C1CAD7;

    --spinner-color: #2868E1;
    --spinner-border-color: #C1CAD7;

    --color-hover: #F7F9FC;
  }

  :root[class~="sync"] {
    @media (prefers-color-scheme: dark) {
      --color-background-50: #142237;
      --color-background-100: #2B384B;
      --color-background-200: #07162C;

      --color-typography-200: #FFFFFF;

      --border-color: #2B384B;

      --spinner-color: #2868E1;
      --spinner-border-color: #2B384B;

      --color-hover: #142237;
    }
  }

  :root[class~="dark"], {
    --color-background-50: #142237;
    --color-background-100: #2B384B;
    --color-background-200: #07162C;

    --color-typography-200: #FFFFFF;

    --border-color: #2B384B;

    --spinner-color: #2868E1;
    --spinner-border-color: #2B384B;

    --color-hover: #142237;
  }
}
