@import 'variables';

@media (min-width: 768px) {
  .nls-btn-show {
    display: none;
    transition: 0.2s;
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 2;
    transform: translateY(-50%);
  }

  .earn-row-actions:hover .nls-btn-show {
    transition: 0.2s;

    display: flex;
    animation-name: show-anime;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
  }

  .info-show {
    animation-name: show-anime;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    transition: 0.2s opacity;
  }

  .earn-row-actions:hover > div:last-of-type {
    opacity: 0;
  }
}

@keyframes show-anime {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
