@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --color-background-50: #ffffff;
  --color-background-100: #f7f9fc;
  --color-background-200: #c1cad7;
  --color-background-300: #ebeff5;

  --color-typography-50: #8396b1;
  --color-typography-100: #4c5a6e;
  --color-typography-200: #273141;

  --color-primary-50: #3470e2;
  --color-primary-100: #245dc8;
  --color-primary-200: #2054b5;

  --color-danger-50: #e4292926;
  --color-danger-100: #e42929;

  --color-success-50: #50e3a526;
  --color-success-100: #1ab171;

  --color-warning-50: #ffd78266;
  --color-warning-100: #ffb922;

  --color-brand-accent: #ff562e;

  --border-color: #c1cad7;
  --border-color-emphasized: #a4b2c5;

  --spinner-color: #3470e2;
  --spinner-border-color: #c1cad7;
  --color-progress: #ebeff5;

  --color-hover: #f7f9fc;

  --media-query-sm: 576px;
  --media-query-md: 768px;
  --media-query-lg: 1024px;
  --media-query-xl: 1200px;
  --media-query-xxl: 1400px;

  --swap-confirmation-color: #f7f9fc;

  /* new colors */
  --color-typography-default: #273141;
  --color-typography-secondary: #4c5a6e;
  --color-typography-disabled: #8396b1;
  --color-typography-success: #0f6641;
  --color-typography-warning: #73530f;
  --color-typography-error: #ab1f3b;
  --color-typography-error-heavy: #81182c;
  --color-typography-link: #2054b5;
  --color-typography-brand: #cf4625;

  --color-icon-default: #566479;
  --color-icon-secondary: #8396b1;
  --color-icon-disabled: #8396b1;
  --color-icon-link: #3470e2;
  --color-icon-error: #df294d;
  --color-icon-success: #148555;
  --color-icon-brand: #ff5f3a;

  /* same for typography and icon */
  --color-inverted: #ffffff;
  --color-static-light: #ffffff;
  --color-static-dark: #273141;

  --color-background-level-1: #f7f9fc;
  --color-background-level-2: #ffffff;
  --color-background-level-3: #ebeff5;
  --color-background-level-4: #c1cad7;
  --color-background-level-inverted-2: #384354;
  --color-background-level-inverted-1: #171c25;

  --color-primary-default: #3470e2;
  --color-primary-hover: #245dc8;
  --color-primary-active: #2054b5;

  --color-secondary-default: #ffffff;
  --color-secondary-hover: #f7f9fc;
  --color-secondary-active: #c1cad7;

  --color-danger-default: #ffffff;
  --color-danger-hover: #fceaee;
  --color-danger-active: #f6b9c5;

  --color-disabled: #ebeff5;

  --color-info-muted: #e8effc;

  --color-success-muted: #ddf3ea;
  --color-success-emphasized: #148555;

  --color-warning-muted: #ffeec9;
  --color-warning-emphasized: #e4a61e;

  --color-error-muted: #fceaee;
  --color-error-emphasized: #ab1f3b;

  --color-logo: #072d63;

  --color-dackdrop: rgba(23, 28, 37, 0.5);

  --color-scrollbar: rgba(86, 100, 121, 0.3);

  --color-border-muted: #ebeff5;
  --color-border-default: #c1cad7;
  --color-border-emphasized: #a4b2c5;
  --color-border-dominant: #8396b1;
  --color-border-focus: #3470e2;
  --color-border-success: #148555;
  --color-border-success-emphasized: #148555;
  --color-border-error: #df294d;
  --color-border-warning: #c08b1a;

  --color-shadow-default: rgba(0, 0, 0, 0.1);
  --color-shadow-light: rgba(0, 0, 0, 0.075);
  --color-shadow-lighter: rgba(0, 0, 0, 0.05);
}

:root[class~="dark"],
:root[class~="sync"] {
  --color-background-50: #171c25;
  --color-background-100: #273141;
  --color-background-200: #384354;

  --color-typography-50: #66768e;
  --color-typography-100: #c1cad7;
  --color-typography-200: #f7f9fc;

  --color-primary-100: #6793ea;
  --color-primary-200: #245dc8;

  --border-color: #384354;
  --border-color-emphasized: #66768e;

  --spinner-color: #3470e2;
  --spinner-border-color: #2b384b;
  --color-progress: #2b384b;

  --color-hover: #142237;

  --swap-confirmation-color: #2b384b;

  /* new colors */
  --color-typography-default: #f7f9fc;
  --color-typography-secondary: #c1cad7;
  --color-typography-disabled: #66768e;
  --color-typography-success: #8cd8b8;
  --color-typography-warning: #ffbf34;
  --color-typography-error: #f6b9c5;
  --color-typography-error-heavy: #f6b9c5;
  --color-typography-link: #b5caf5;
  --color-typography-brand: #ff5f3a;

  --color-icon-default: #ebeff5;
  --color-icon-secondary: #8396b1;
  --color-icon-disabled: #566479;
  --color-icon-link: #6793ea;
  --color-icon-error: #ed6983;
  --color-icon-success: #19a96c;
  --color-icon-brand: #ff5f3a;

  /* same for typography and icon */
  --color-inverted: #273141;
  --color-static-light: #ffffff;
  --color-static-dark: #273141;

  --color-background-level-1: #171c25;
  --color-background-level-2: #1e242f;
  --color-background-level-3: #273141;
  --color-background-level-4: #4c5a6e;
  --color-background-level-inverted-2: #ebeff5;
  --color-background-level-inverted-1: #ffffff;

  --color-primary-default: #3470e2;
  --color-primary-hover: #6793ea;
  --color-primary-active: #245dc8;

  --color-secondary-default: #171c25;
  --color-secondary-hover: #273141;
  --color-secondary-active: #384354;

  --color-danger-default: #171c25;
  --color-danger-hover: #81182c;
  --color-danger-active: #ab1f3b;

  --color-disabled: #384354;

  --color-info-muted: #122f63;

  --color-success-muted: #083824;
  --color-success-emphasized: #0f6641;

  --color-warning-muted: #402e09;
  --color-warning-emphasized: #c08b1a;

  --color-error-muted: #611221;
  --color-error-emphasized: #81182c;

  --color-logo: #ffffff;

  --color-dackdrop: rgba(23, 28, 37, 0.75);

  --color-scrollbar: rgba(193, 202, 215, 0.3);

  --color-border-muted: #384354;
  --color-border-default: #384354;
  --color-border-emphasized: #66768e;
  --color-border-dominant: #8396b1;
  --color-border-focus: #6793ea;
  --color-border-success: #19a96c;
  --color-border-success-emphasized: #148555;
  --color-border-error: #ed6983;
  --color-border-warning: #c08b1a;

  --color-shadow-default: rgba(0, 0, 0, 0.2);
  --color-shadow-light: rgba(0, 0, 0, 0.15);
  --color-shadow-lighter: rgba(0, 0, 0, 0.1);
}

@theme inline {
  /* Font */
  --font-sans: "Garet Variable", "Garet", "Helvetica", "Arial", sans-serif;

  /* Font sizes (standard scale) */
  --text-xs: 0.8125rem;
  --text-xs--line-height: 1rem;
  --text-sm: 0.875rem;
  --text-sm--line-height: 1.25rem;
  --text-base: 1rem;
  --text-base--line-height: 1.5rem;
  --text-lg: 1.125rem;
  --text-lg--line-height: 1.75rem;
  --text-xl: 1.25rem;
  --text-xl--line-height: 1.75rem;
  --text-2xl: 1.5rem;
  --text-2xl--line-height: 2rem;
  --text-3xl: 2rem;
  --text-3xl--line-height: 2.25rem;
  --text-4xl: 2.5rem;
  --text-4xl--line-height: 2.5rem;
  --text-5xl: 3rem;
  --text-5xl--line-height: 1;
  --text-6xl: 3.75rem;
  --text-6xl--line-height: 1;
  --text-7xl: 4.5rem;
  --text-7xl--line-height: 1;
  --text-8xl: 6rem;
  --text-8xl--line-height: 1;
  --text-9xl: 8rem;
  --text-9xl--line-height: 1;

  /* Font sizes (numeric px scale) */
  --text-10: 10px;
  --text-10--line-height: 14px;
  --text-12: 12px;
  --text-12--line-height: 18px;
  --text-14: 14px;
  --text-14--line-height: 20px;
  --text-16: 16px;
  --text-16--line-height: 22px;
  --text-18: 18px;
  --text-18--line-height: 26px;
  --text-20: 20px;
  --text-20--line-height: 28px;
  --text-24: 24px;
  --text-24--line-height: 32px;
  --text-28: 28px;
  --text-28--line-height: 46px;
  --text-32: 32px;
  --text-32--line-height: 46px;
  --text-40: 40px;
  --text-40--line-height: 58px;
  --text-48: 48px;
  --text-48--line-height: 70px;

  /* Static color scales */
  --color-neutral-50: #f7f9fc;
  --color-neutral-100: #ebeff5;
  --color-neutral-200: #c1cad7;
  --color-neutral-300: #a4b2c5;
  --color-neutral-400: #8396b1;
  --color-neutral-500: #66768e;
  --color-neutral-600: #566479;
  --color-neutral-700: #4c5a6e;
  --color-neutral-800: #384354;
  --color-neutral-900: #273141;
  --color-neutral-950: #171c25;

  --color-blue-50: #f5f8fe;
  --color-blue-100: #e8effc;
  --color-blue-200: #b5caf5;
  --color-blue-300: #91b1f0;
  --color-blue-400: #6793ea;
  --color-blue-500: #3470e2;
  --color-blue-600: #245dc8;
  --color-blue-700: #2054b5;
  --color-blue-800: #183f87;
  --color-blue-900: #122f63;
  --color-blue-950: #0b1b3b;

  --color-red-50: #fef6f8;
  --color-red-100: #fceaee;
  --color-red-200: #f6b9c5;
  --color-red-300: #f297a9;
  --color-red-400: #ed6983;
  --color-red-500: #df294d;
  --color-red-600: #bd2341;
  --color-red-700: #ab1f3b;
  --color-red-800: #81182c;
  --color-red-900: #611221;
  --color-red-950: #390b14;

  --color-green-50: #f4fbf8;
  --color-green-100: #ddf3ea;
  --color-green-200: #8cd8b8;
  --color-green-300: #53c595;
  --color-green-400: #19a96c;
  --color-green-500: #148555;
  --color-green-600: #117148;
  --color-green-700: #0f6641;
  --color-green-800: #0b4c31;
  --color-green-900: #083824;
  --color-green-950: #052115;

  --color-yellow-50: #fff9eb;
  --color-yellow-100: #ffeec9;
  --color-yellow-200: #ffbf34;
  --color-yellow-300: #e4a61e;
  --color-yellow-400: #c08b1a;
  --color-yellow-500: #976e14;
  --color-yellow-600: #805d11;
  --color-yellow-700: #73530f;
  --color-yellow-800: #563f0b;
  --color-yellow-900: #402e09;
  --color-yellow-950: #251a05;

  --color-orange-50: #fff6f4;
  --color-orange-100: #ffebe6;
  --color-orange-200: #ffb8a7;
  --color-orange-300: #ff9379;
  --color-orange-400: #ff5f3a;
  --color-orange-500: #cf4625;
  --color-orange-600: #b03b20;
  --color-orange-700: #9f351d;
  --color-orange-800: #772815;
  --color-orange-900: #581e10;
  --color-orange-950: #341109;

  /* Semantic background tokens */
  --color-neutral-bg-50: var(--color-background-50);
  --color-neutral-bg-100: var(--color-background-100);
  --color-neutral-bg-200: var(--color-background-200);
  --color-neutral-bg-300: var(--color-background-300);
  --color-neutral-bg-1: var(--color-background-level-1);
  --color-neutral-bg-2: var(--color-background-level-2);
  --color-neutral-bg-3: var(--color-background-level-3);
  --color-neutral-bg-4: var(--color-background-level-4);
  --color-neutral-bg-inverted-2: var(--color-background-level-inverted-2);
  --color-neutral-bg-inverted-1: var(--color-background-level-inverted-1);

  /* Semantic typography tokens */
  --color-typography-default: var(--color-typography-default);
  --color-typography-secondary: var(--color-typography-secondary);
  --color-typography-disabled: var(--color-typography-disabled);
  --color-typography-success: var(--color-typography-success);
  --color-typography-warning: var(--color-typography-warning);
  --color-typography-error: var(--color-typography-error);
  --color-typography-error-heavy: var(--color-typography-error-heavy);
  --color-typography-link: var(--color-typography-link);
  --color-typography-brand: var(--color-typography-brand);
  --color-typography-inverted: var(--color-inverted);
  --color-typography-static-light: var(--color-static-light);
  --color-typography-static-dark: var(--color-static-dark);

  /* Semantic icon tokens */
  --color-icon-default: var(--color-icon-default);
  --color-icon-secondary: var(--color-icon-secondary);
  --color-icon-disabled: var(--color-icon-disabled);
  --color-icon-link: var(--color-icon-link);
  --color-icon-error: var(--color-icon-error);
  --color-icon-success: var(--color-icon-success);
  --color-icon-brand: var(--color-icon-brand);
  --color-icon-inverted: var(--color-inverted);
  --color-icon-static-light: var(--color-static-light);
  --color-icon-static-dark: var(--color-static-dark);

  /* Primary */
  --color-primary-50: var(--color-primary-50);
  --color-primary-50\/10: rgba(193, 202, 215, 0.35);
  --color-primary-100: var(--color-primary-100);
  --color-primary-200: var(--color-primary-200);
  --color-primary-default: var(--color-primary-default);
  --color-primary-hover: var(--color-primary-hover);
  --color-primary-active: var(--color-primary-active);

  /* Secondary */
  --color-secondary-default: var(--color-secondary-default);
  --color-secondary-hover: var(--color-secondary-hover);
  --color-secondary-active: var(--color-secondary-active);

  /* Danger */
  --color-danger-50: var(--color-danger-50);
  --color-danger-100: var(--color-danger-100);
  --color-danger-default: var(--color-danger-default);
  --color-danger-hover: var(--color-danger-hover);
  --color-danger-active: var(--color-danger-active);

  /* Status */
  --color-disabled: var(--color-disabled);
  --color-static-light: var(--color-static-light);
  --color-info-muted: var(--color-info-muted);

  --color-success-50: var(--color-success-50);
  --color-success-100: var(--color-success-100);
  --color-success-muted: var(--color-success-muted);
  --color-success-emphasized: var(--color-success-emphasized);

  --color-warning-50: var(--color-warning-50);
  --color-warning-100: var(--color-warning-100);
  --color-warning-muted: var(--color-warning-muted);
  --color-warning-emphasized: var(--color-warning-emphasized);

  --color-error-muted: var(--color-error-muted);
  --color-error-emphasized: var(--color-error-emphasized);

  /* Misc */
  --color-logo: var(--color-logo);
  --color-scrollbar: var(--color-scrollbar);

  /* Border */
  --color-border-color: var(--border-color);
  --color-border-hover-color: var(--border-color-emphasized);
  --color-border-muted: var(--color-border-muted);
  --color-border-default: var(--color-border-default);
  --color-border-emphasized: var(--color-border-emphasized);
  --color-border-success-emphasized: var(--color-border-success-emphasized);
  --color-border-dominant: var(--color-border-dominant);
  --color-border-focus: var(--color-border-focus);
  --color-border-success: var(--color-border-success);
  --color-border-error: var(--color-border-error);
  --color-border-warning: var(--color-border-warning);

  /* Shadow colors */
  --color-shadow-default: var(--color-shadow-default);
  --color-shadow-light: var(--color-shadow-light);
  --color-shadow-lighter: var(--color-shadow-lighter);

  /* Consumer-shared tokens */
  --color-neutral-typography-200: var(--color-typography-200);
  --color-progress-color: var(--color-progress);

  /* Box shadows */
  --shadow-small: 0px 1px 2px 0px var(--color-shadow-default);
  --shadow-medium: 0px 4px 6px -1px var(--color-shadow-default), 0px 2px 4px -2px var(--color-shadow-default);
  --shadow-larger: 0px 12px 20px 0px var(--color-shadow-light), 0px 2px 4px 0px var(--color-shadow-lighter);
  --shadow-dialog: 0 8px 48px #072d6326;
  --shadow-field-heavy: 0px 8px 48px 0px rgba(7, 45, 99, 0.15);
  --shadow-field-normal: 0px 12px 32px 0px rgba(7, 45, 99, 0.06);
}
